.App{
  /* COMP 27F and COMP 27E and COMP 27D */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.box-stuff{
  /* COMP 30C and COMP 30D and COMP 30E */
  box-shadow: 10px 10px 5px red;
  text-decoration: line-through;
  background: linear-gradient(red, blue)
}